body {
  align-items: center;
  background-color: darkslategray;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: 'Roboto', sans-serif;
  gap: 25px;
  justify-content: center;
  margin: 0px;
  min-height: 100vh;
  padding: 0px;
}

.login-button {
  background: #c3f3df;
  border-radius: 35px;
  border: none;
  color: #001c10;
  cursor: pointer;
  font-size: 1em;
  font-weight: 800;
  margin-bottom: auto;
  padding: 25px 50px;
}

.login-button:active {
  background: #7cb79e;
}

.navi-logo {
  height: auto;
  margin-bottom: auto;
  padding-top: 25px;
  width: 250px;
}